In [1]:
print("hello world")

hello world

In [2]:
###print ur name
print("Abhishek")

Abhishek

In [3]:
### python is a case sensitive

In [4]:
print(10)

10

# basic of python

# how to print the output

## print hello world

In [5]:
print("hello world")

hello world

In [7]:
print(1)

1

In [8]:
print("Welcome to the python course")

Welcome to the python course

In [9]:
print("Hello")

Hello

# #sortcut key

# ##Run >shift+Enter

### insert cell above >a

#### inser cell above > b

#### delet a cell > x

#### Add comment > M and Shift+ Enter

### varables

In [12]:
x=10
x

10

In [13]:
course ="ai"
print(course)

ai

In [14]:
print(x)

10

In [15]:
y=1000
y

1000

In [16]:
print(y)

1000

In [17]:
name="Abhishek kumar"
gender="male"
course="Btech"

In [18]:
name
course

'Btech'

In [19]:
gender

'male'

In [20]:
print(name)
print(gender)
print(course)

Abhishek kumar
male
Btech

In [21]:
name,gender,course

('Abhishek kumar', 'male', 'Btech')

In [22]:
gender

'male'

In [23]:
Gender

NameError: name 'Gender' is not defined

In [24]:
y=18
x="Abhishek"
x
y

18

In [25]:
x,y

('Abhishek', 18)

In [26]:
y,x

(18, 'Abhishek')

In [28]:
print(x,y)

Abhishek 18

In [29]:
z=y
z

18

In [30]:
x=y=z="test"
print(z)

test

In [31]:
x,y,z=23,25,22
y

25

In [32]:
x

23

In [33]:
z

22

In [34]:
x=5

### Rules for nameing the variable

### varisble can have alphabets[A-Z,a-z]

### variable name should not start with a number

### variable do not allow spl characters other hen underscore

### case sensitive

In [35]:
Book=["DS with python","BA with python"]
Book

['DS with python', 'BA with python']

In [36]:
book### python is case sensitive

NameError: name 'book' is not defined

In [39]:
2books=["DS with python","BA with python"]
2books

SyntaxError: invalid decimal literal (2020214777.py, line 1)

In [40]:
b2ook=["DS with python","BA with python"]
b2ook

['DS with python', 'BA with python']

In [41]:
books-lists=["DS with Python","BA with Python"]
books-lists

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3715301045.py, line 1)

In [42]:
books_lists=["DS with Python","BA with Python"]
books_lists

['DS with Python', 'BA with Python']

In [43]:

book names="Python","R"

SyntaxError: invalid syntax (160110619.py, line 1)

### Rules for naming variables
### Case-sensitive
### It should start with A-Z,a-z or
### It should not start with a number but it can have
numbers
### Space is not allowed

In [44]:
### Data Types
x=107
type(x)

int

In [45]:
y=12.300
type(y)

float

In [46]:
z="Analytics"
type(z)

str

In [47]:
z

'Analytics'

In [48]:
z=Analytics
z

NameError: name 'Analytics' is not defined

In [49]:
z='Analytics'
z

'Analytics'

In [50]:
e=False
type(e)

bool

In [51]:
z=True
z,type(z)

(True, bool)

In [52]:
e="True"
type(e)

str

In [53]:
 h=2-3j
type(h)

complex

In [54]:
### implicit conversion(no inv of a programmer)
x=30
y=6
z=x/y
z

5.0

In [55]:
type(z)

float

In [56]:
### Explicit Conversion

In [57]:

z=x+int(y)
z

36

In [59]:
x=21
float(x)

21.0

In [60]:
x=5.6
int(x)

5

In [61]:
str(x)

'5.6'

In [62]:
bool(x)

True

In [63]:
x="Analytics"
int(x)

ValueError: invalid literal for int() with base 10: 'Analytics'

In [64]:
x="Analytics"
bool(x)

True

In [65]:
print("Python"+str(56))

Python56

In [66]:
### Arithmetic Operators
x=19
y=21
x+y

40

In [67]:

x-y

-2

In [68]:
x*y

399

In [69]:
x/y

0.9047619047619048

In [70]:
x**y ### x to the power y

714209495693373205673756419

In [71]:
x%y ## Remainder when x>y,x when x<y

19

In [72]:
x=15
y=4
x%y

3

In [73]:
x=4
y=15
x%y

4

In [74]:
x=17 ### x>y=>Quotient,x<y=>0
y=5
x//y

3

In [75]:
x=1
y=18
x//y

0

In [76]:
x=100
y=1000000000000000
x//y

0

In [77]:
### Relational Operators
a=5
b=4
a>b

True

In [78]:
a<b

False

In [79]:

a>=b

True

In [80]:
a<=b

False

In [81]:
num=-1
if(num>0):
 print(num,"is greater than zero")
else:
    print(num,"is lesser than zero")

-1 is lesser than zero

In [82]:
x=100
y=34
z=500
if (x>y):
 print(x,"is greater")
else:
 if(z>y):
 print(z,"is greater")
 else:
 print(y,"is greater")

IndentationError: expected an indented block after 'if' statement on line 7 (2379891634.py, line 8)

### Data structure

#### list -> elements are saperted by comma and enclosed with square bracket 
#### hetrogenous 
#### list can be retriveed using index 
#### Mutable - can make the changes after creating the  list

In [85]:
sample_list=[1,13.6,"hi",12,1]
sample_list

[1, 13.6, 'hi', 12, 1]

In [86]:
type(sample_list)

list

In [87]:
sample_list[3]

12

In [88]:
sample_list[5]

IndexError: list index out of range

In [89]:
sample_list[-2]

12

In [91]:
sample_list[0]=10

In [92]:
sample_list[0]=10

In [93]:
sample_list

[10, 13.6, 'hi', 12, 1]

#### Tuple

 ### Heterogenous
    #### Paranthesis
### can retrieve data using index
#### Immutable

In [94]:
sample_tuple=(1,13.6,"hi",12,1)
sample_tuple

(1, 13.6, 'hi', 12, 1)

In [95]:
sample_tuple[-2]

12

In [96]:
sample_tuple[10]

IndexError: tuple index out of range

In [97]:
sample_tuple[0]=10

TypeError: 'tuple' object does not support item assignment

### set

### Doesnot allow duplicates
### Ordered-First place
### In Set,elements cannot be retrieved using index 
### mset is mutable

In [101]:
sample_set={1,13.6,"hi",12,1,127,25,25,"apple","kin"}
sample_set

{1, 12, 127, 13.6, 25, 'apple', 'hi', 'kin'}

In [99]:
sample_set[0]

NameError: name 'sample_set' is not defined

In [102]:
sample_set[0]="hello"

TypeError: 'set' object does not support item assignment

In [104]:
sample_set.add(1000)

In [105]:
sample_set

{1, 1000, 12, 127, 13.6, 25, 'apple', 'hi', 'kin'}

In [106]:
sample_set.remove("hi")

In [107]:
sample_set

{1, 1000, 12, 127, 13.6, 25, 'apple', 'kin'}

# Dictionary

### Has key-value pair data structure
### Key is unique
### Values can be duplicated
### Value can be retrieved using key
### Key cannot be retrieved using value